body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder { /* older Firefox*/
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */ 
    font-style: italic;

} 
:-ms-input-placeholder { 
    font-style: italic;
}

.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: black; /* Chrome, Safari, Opera */
    -moz-column-rule-color: black; /* Firefox */
    column-rule-color: black;
}

h1 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}


h2 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

#status {
/* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}